<div class="print-records-page">

  <h1>
    <span ng-bind="printListVM.title"></span>
    <span
      class="noprint float-right text-small hand"
      ng-click="printListVM.print()"
    >
      print
    </span>
  </h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Nate</th>
        <th>Bass</th>
        <th>Key</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in printListVM.songs | orderBy:'order'">
        <td ng-bind="song.title"></td>
        <td ng-bind="song.nate"></td>
        <td ng-bind="song.bassist"></td>
        <td ng-bind="song.key"></td>
      </tr>
    </tbody>
  </table>
</div>
