.song-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  > li {
    cursor: pointer;
    padding: $base-unit-half $base-unit;
    background-color: $color-ltgrey;
    border-bottom: 1px solid $color-medgrey;
    &.active {
      background-color: $color-ltgreen;
    }
    @include breakpoint(phone) {
      padding: $base-unit;
    }
  }
}

.note {
  font-family: $base-font-family-bold-italic;
}

.drop-zone {
  padding: $base-unit-half;
  border: 1px dotted $color-black;
}

// Songlist Editing Page - Unique
// ===========================================
.grid > form > ul.songlist-list {
  height:$list-height-normal/2;

  @include breakpoint(phone) {
    height:$list-height-phone/2;
  }
}

.add-song-floating-text {
  @include breakpoint(phone) {
    display: none;
  }
}

.grid > form > ul.songlist-songs {
  @extend %text-normal;
  height: auto;
  min-height:$list-height-normal;
  list-style-type: none;
  li {
    cursor: move;
  }
  @include breakpoint(phone) {
    height: auto;
    min-height:$list-height-phone;
  }
}
