.song-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  > li {
    cursor: pointer;
    padding: $base-unit-half $base-unit;
    background-color: $color-ltgrey;
    border-bottom: 1px solid $color-medgrey;
    &.active {
      background-color: $color-ltgreen;
    }
    @include breakpoint(phone) {
      padding: $base-unit;
    }
  }
}

.edit-list-song-select {
  max-height: 330px;
}

.note {
  font-family: $base-font-family-bold-italic;
}

.drop-zone {
  padding: $base-unit-half;
  border: 1px dotted $color-black;
}

// Songlist Editing Page - Unique
// ===========================================
.add-song-floating-text {
  @include breakpoint(phone) {
    display: none;
  }
}

table.songlist-songs {
  @extend %text-normal;
  tr {
    cursor: move;
    @include breakpoint(phone) {
      padding: $base-unit-quarter 0;
    }
  }
  @include breakpoint(phone) {
    padding: 0 $base-unit * 2; // for scrolling area
  }
}

.edit-list-display-cols {
  margin: $base-unit-half;
}

.edit-list-display-cols label,
.edit-list-display-cols input {
  display: inline-block;
  vertical-align: middle;
}

form > ul.print-songlists {
  min-height:$list-height-normal / 3;
}

.inline-controls input {
  width: 75px;
}

.legend-box {
  border: 1px solid $color-black;
  display: inline-block;
  padding: $base-unit-quarter $base-unit-half;
  margin-right: $base-unit-half;
}
