// Base grid class
// ======================
.grid {
  display: flex;
  &.grid-wrap {
    flex-wrap: wrap;
  }
}

.grid-full {
  width: 100%;
}

.grid-padded {
  margin: $grid-padding;
  clear: both;
}

// ================================================================

.grid-col-single {
  flex-grow: 1;
}

.grid-col-triple {
  flex-grow: 3;
}
