.nav-pills {
  background: $color-royal;
  display: inline-block;
  font-size: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include border-radius($base-rounded-corners);

  @include breakpoint(phone) {
    @include border-radius(0);
    width: 100%;
    display: flex;
  }
}

.nav-pills li {
  display: inline-block;
  margin: 0;
  padding: 1px;
  @include breakpoint(phone) {
    flex-grow: 1;
  }
}

.nav-pills button,
.nav-pills a {
  @extend %text-normal;

  border: none;
  background: $color-royal;
  color: $color-white;
  display: block;
  font-family: $base-font-family-bold;
  padding: 9px 20px;
  text-decoration: none;

  @include border-radius($base-rounded-corners);

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &.active {
    background: $color-gold;
    color: $color-royal;

    &:hover {
      text-decoration: none;
    }
  }

  @include breakpoint(phone) {
    font-size: $base-font-size * 0.65;
    padding: 5px 10px;
  }
}

.nav-pills button[disabled=disabled] {
  opacity: 0.2;
  &:hover {
    text-decoration: none;
  }
}
