<div class="admin-page">
  <button
    ng-if="!adminVM.status.authorized"
    ng-click="adminVM.showLogin = !adminVM.showLogin"
    class="but-small float-right"
  >Login</button>

  <button
    ng-if="adminVM.status.authorized"
    ng-click="adminVM.logout()"
    class="but-small float-right"
  >Logout</button>

  <div
    ng-show="!adminVM.status.authorized"
    class="admin-login-prompt"
  >
    <p>Please login to access application</p>
  </div>

  <div
    ng-if="adminVM.status.authorized"
    class="admin-actions"
  >
    <nav class="grid">
      <ul class="nav nav-pills ng-isolate-scope">
        <li ng-show="adminVM.status.email === 'slatron@gmail.com'">
          <button ng-class="{'active': adminVM.openSection === 'Songlists'}" ng-click="adminVM.openSection = 'Songlists'">Setlists</button>
        </li>
        <li>
          <button ng-class="{'active': adminVM.openSection === 'Songs'}" ng-click="adminVM.openSection = 'Songs'">Songs</button>
        </li>
        <li ng-show="adminVM.status.email === 'slatron@gmail.com'">
          <button ng-class="{'active': adminVM.openSection === 'Users'}" ng-click="adminVM.openSection = 'Users'">Manage Users</button>
        </li>
      </ul>
    </nav>
    <error-messages
      messages="adminVM.messages"
    ></error-messages>
    <song-list-editor
      ng-if="adminVM.openSection === 'Songlists'"
    ></song-list-editor>
    <song-editor
      ng-if="adminVM.openSection === 'Songs'"
    ></song-editor>
    <ul ng-show="adminVM.openSection === 'Users'">
      <li ng-click="adminVM.showRegister = !adminVM.showRegister" class="hand color-royal">
        Register User
      </li>
      <li ng-click="adminVM.showUpdateEmail = !adminVM.showUpdateEmail" class="hand color-royal">
        Request Password Update
      </li>
    </ul>
  </div>
  <div ng-include="'templates/admin-register-user.html'"></div>
  <div ng-include="'templates/admin-login.html'"></div>
  <div ng-include="'templates/admin-request-password-set.html'"></div>
</div>
