<div class="songlist-editor">
  <h6 class="grid">
    <div class="grid-col-single">
      Song Lists
    </div>
    <div class="grid-col-single align-right">
      <a class="but-selection" ng-click="songListVM.toggleAddSongList()">
        Add New Song List
        <span ng-hide="songListVM.showAddSongList">+</span>
        <span ng-show="songListVM.showAddSongList">-</span>
      </a>
    <div>
  </h6>

  <div class="slide"
    ng-class="{'slide-show': songListVM.showAddSongList, 'slide-hide': !songListVM.showAddSongList}"
  >
    <form class="add-new-item">
      <div class="form-row">
        <label for="songTitle">New List Title</label>
        <input class="longer" id="songTitle" ng-model="songListVM.newSongList.title">
      </div>
      <div class="but-row">
        <a
          ng-click="songListVM.showAddSongList = false"
          class="hand"
        >Cancel</a>
        <button ng-disabled="!songListVM.newSongList.title.length" ng-click="songListVM.addSongList()" class="but-selection">
          Add
        </button>
      </div>
    </form>
  </div>

  <form>
    <label for="selected_list">Selected List: </label>
    <select
      id="selected_list"
      ng-options="songlist as songlist.title for songlist in songListVM.songListsDB"
      ng-change="songListVM.displaySongList()"
      ng-model="songListVM.selectedList"
    ></select>
  </form>
  <div ng-if="songListVM.editSongListItem">
    <form>
      <div class="form-row">
        <a
          ng-click="songListVM.deleteList()"
          class="hand float-right color-warning"
          title="Permanently Delete This Songlist"
        >[X]</a>
        <label for="songListTitle">Title</label>
        <input
          class="longer"
          id="songListTitle"
          ng-model="songListVM.editSongListItem.title">
      </div>

      <div class="form-row">
        <span
          class="icon-help text-small"
          title="Color-code songs to help keep instrument changes together. Select a player to see what instrument they play on each song."
        ></span>
        Highlight:
        <select
          ng-options="player as player.label for player in songListVM.highlightOptions"
          ng-model="songListVM.selectedHighlight"
          ng-change="songListVM.setSongColor(songListVM.selectedHighlight.action)"
        ></select>
        <button ng-click="songListVM.showIcons = !songListVM.showIcons" class="but-small">
          <span ng-show="!songListVM.showIcons">Show</span><span ng-show="songListVM.showIcons">Hide</span> Controls
        </button>
        <button ng-click="songListVM.showKeys = !songListVM.showKeys" class="but-small">
          <span ng-show="!songListVM.showKeys">Show</span><span ng-show="songListVM.showKeys">Hide</span> Keys
        </button>
      </div>
      <div class="form-row" ng-show="songListVM.colorCategory.length">
        <span
          ng-repeat="(text, color) in songListVM.colorCategoryHash"
          class="legend-box"
          ng-class="color"
          ng-show="songListVM.colorsPresent.indexOf(text) !== -1"
          ng-bind="text"
        ></span>
      </div>
      <ul
        ui-sortable="songListVM.sortableSongs"
        ng-model="songListVM.songsSorted"
        class="songlist-songs"
      >
        <li
          ng-repeat="id in songListVM.songsSorted"
          ng-class="songListVM.colorCategoryHash[songListVM.songsDB[id][songListVM.colorCategory]]"
        >
          <span ng-bind="$index + 1"></span>)
          <span ng-bind="songListVM.songsDB[id].title"></span>
          <span ng-show="songListVM.showKeys">
            [<span ng-bind="songListVM.songsDB[id].key"></span>]
          </span>

          <span ng-show="songListVM.editingNote && songListVM.editingNoteId === id" class="inline-controls">
            <input ng-model="songListVM.editSongListItem.notes[songListVM.editingNoteId]">
            <button ng-click="songListVM.updateNote()" class="but-small">save</button>
          </span>

          <span ng-show="songListVM.addingNote && songListVM.addingNoteId === id" class="inline-controls">
            <input ng-model="songListVM.newNoteText">
            <button ng-click="songListVM.saveNewNote()" class="but-small">save</button>
          </span>

          <span
            class="note hand"
            ng-bind="songListVM.editSongListItem.notes[id]"
            ng-if="songListVM.editSongListItem.notes[id]"
            ng-show="songListVM.editingNoteId !== id && songListVM.addingNoteId !== id"
            ng-click="songListVM.editNote(id)"
          ></span>
          <span
            ng-show="songListVM.showIcons && songListVM.editingNoteId !== id && songListVM.addingNoteId !== id"
            ng-click="songListVM.addNote(id)"
            class="hand color-royal"
          >note</span>
          <span
            ng-show="songListVM.showIcons"
            ng-click="songListVM.removeSong(id)"
            class="icon-cancel hand color-warning"
            title="Remove {{songListVM.songsDB[id].title}}"
          ></span>
        </li>
      </ul>
      <div class="align-right">
        <a class="but-selection" ng-click="songListVM.showSelectSongs = true">
          Add Songs
        </a>
      </div>
      <div class="form-row">
        <button
          class="but-small"
          ng-click="songListVM.getListURL()"
        >Get Share Links</button>
      </div>
      <div class="form-row" ng-if="songListVM.displayURL.length">
        Share List:<br>
        <a
          ng-href="{{songListVM.displayURL}}"
          ng-bind="songListVM.displayURL"
          target="_blank"
        ></a>
      </div>
      <div class="form-row" ng-if="songListVM.printURL.length">
        Print:<br>
        <a
          ng-href="{{songListVM.printURL}}"
          ng-bind="songListVM.printURL"
          target="_blank"
        ></a>
      </div>
    </form>
  </div>
  <div ng-include="'templates/select-songs.html'"></div>
</div>
