<div class="songlist-editor">
  <h6>Song Lists</h6>
  <form>
    <ul class="scrollable song-list song-list-short">
      <li
        ng-click="songListVM.displaySongList(songList)"
        ng-repeat="songList in songListVM.songListsDB | orderBy:'title'"
        ng-bind="songList.title"
      ></li>
    </ul>
  </form>
  <div class="grid" ng-if="songListVM.editSongListItem">
    <form>
      <div class="form-row text-normal">
        <a
          ng-click="songListVM.deleteList()"
          class="hand float-right color-warning"
          title="Permanently Delete This Songlist"
        >[X]</a>
        <label for="songListTitle">Title</label>
        <input
          class="longer"
          id="songListTitle"
          ng-model="songListVM.editSongListItem.title">
      </div>

      <div class="grid">
        <section class="grid-col-single">
          <div class="form-row">
            <span
              class="icon-help text-small"
              title="Color-code songs to help keep instrument changes together. Select a player to see what instrument they play on each song."
            ></span>
            Highlight:
            <span
             class="hand but-small"
             ng-class="{'active': songListVM.colorCategory === 'singer'}"
             ng-click="songListVM.setSongColor('singer')"
            >Singer</span>
            <span
             class="hand but-small"
             ng-class="{'active': songListVM.colorCategory === 'nate'}"
             ng-click="songListVM.setSongColor('nate')"
            >Nate</span>
            <span
             class="hand but-small"
             ng-class="{'active': songListVM.colorCategory === 'mike'}"
             ng-click="songListVM.setSongColor('mike')"
            >Mike</span>
            <span
             class="hand but-small"
             ng-class="{'active': songListVM.colorCategory === 'adam'}"
             ng-click="songListVM.setSongColor('adam')"
            >Adam</span>
            <span
            class="hand but-small"
             ng-class="{'active': songListVM.colorCategory === 'carl'}"
             ng-click="songListVM.setSongColor('carl')"
            >Carl</span>
            <span
             class="color-warning hand"
             ng-show="songListVM.colorCategory.length"
             ng-click="songListVM.setSongColor('')"
            >Clear</span>
          </div>
          <div class="form-row" ng-show="songListVM.colorCategory.length">
            <span
              ng-repeat="(text, color) in songListVM.colorCategoryHash"
              class="legend-box"
              ng-class="color"
              ng-show="songListVM.colorsPresent.indexOf(text) !== -1"
              ng-bind="text"
            ></span>
          </div>
        </section>
        <section class="grid-col-single align-right">
          <button ng-click="songListVM.showIcons = !songListVM.showIcons" class="but-small">
            <span ng-show="!songListVM.showIcons">Show</span><span ng-show="songListVM.showIcons">Hide</span> Song Controls
          </button>
          <br><br>
          <button ng-click="songListVM.showKeys = !songListVM.showKeys" class="but-small">
            <span ng-show="!songListVM.showKeys">Show</span><span ng-show="songListVM.showKeys">Hide</span> Song Keys
          </button>
        </section>
      </div>
      <ul
        ui-sortable="songListVM.sortableSongs"
        ng-model="songListVM.songsSorted"
        class="songlist-songs"
      >
        <li
          ng-repeat="id in songListVM.songsSorted"
          ng-class="songListVM.colorCategoryHash[songListVM.songsDB[id][songListVM.colorCategory]]"
        >
          <span ng-bind="$index + 1"></span>)
          <span ng-bind="songListVM.songsDB[id].title"></span>
          <span ng-show="songListVM.showKeys">
            [<span ng-bind="songListVM.songsDB[id].key"></span>]
          </span>

          <span ng-show="songListVM.editingNote && songListVM.editingNoteId === id" class="inline-controls">
            <input ng-model="songListVM.editSongListItem.notes[songListVM.editingNoteId]">
            <button ng-click="songListVM.updateNote()" class="but-small">save</button>
          </span>

          <span ng-show="songListVM.addingNote && songListVM.addingNoteId === id" class="inline-controls">
            <input ng-model="songListVM.newNoteText">
            <button ng-click="songListVM.saveNewNote()" class="but-small">save</button>
          </span>

          <span
            class="note text-tiny hand"
            ng-bind="songListVM.editSongListItem.notes[id]"
            ng-if="songListVM.editSongListItem.notes[id]"
            ng-show="songListVM.editingNoteId !== id && songListVM.addingNoteId !== id"
            ng-click="songListVM.editNote(id)"
          ></span>
          <span
            ng-show="songListVM.showIcons && songListVM.editingNoteId !== id && songListVM.addingNoteId !== id"
            ng-click="songListVM.addNote(id)"
            class="hand color-royal"
          >note</span>
          <span
            ng-show="songListVM.showIcons"
            ng-click="songListVM.removeSong(id)"
            class="icon-cancel hand color-warning text-tiny"
            title="Remove {{songListVM.songsDB[id].title}}"
          ></span>
        </li>
        <li class="align-right add-song-floating-text">
          <span
            class="text-tiny"
            title="Click a song from the list on the right"
          >Add Song <span ng-bind="songListVM.songsSorted.length + 1"></span>
          ---></span>
        </li>
      </ul>
      <div class="form-row">
      </div>
    </form>

    <form>
      <h6 ng-click="songListVM.showFilters = !songListVM.showFilters" class="hand">
        <span ng-show="songListVM.showFilters">-</span>
        <span ng-show="!songListVM.showFilters">+</span>
        Filter Songs (<span title="Total songs after applying filters" ng-bind="songListVM.count"></span>)
      </h6>
      <div
        class="slide"
        ng-class="{'slide-show': songListVM.showFilters, 'slide-hide': !songListVM.showFilters}"
      >
        <label for="list-name-filter">Filter: </label>
        <input class="longer" id="list-name-filter" ng-model="songListVM.titleFilter" placeholder="title or singer">
        <br>
        <label for="player-filter">Player:</label>
        <select
          id="player-filter"
          ng-model="songListVM.playerFilter"
          ng-options="player for player in songListVM.playerOptions">
        </select>
        <span ng-show="songListVM.playerFilter !== songListVM.blankFilter">
          <label for="instrument-filter">Instrument:</label>
          <select
            id="instrument-filter"
            ng-model="songListVM.instrumentFilter"
            ng-options="instrument for instrument in songListVM.instrumentOptions">
          </select>
        </span>
        <br>
        <label for="instrument-filter">Key:</label>
        <select
          id="key-filter"
          ng-model="songListVM.keyFilter"
          ng-options="key for key in songListVM.keyOptions">
        </select>
        <button class="but-small" ng-click="songListVM.clearSongFilters()">clear all</button>
      </div>
      <ul class="scrollable song-list">
        <li
          ng-click="songListVM.addSelected(song)"
          ng-repeat="song in songListVM.songsArray | orderBy:'title' | filter:songListVM.titleFilter"
        >
          <span ng-bind="song.title"></span>
          [<span ng-bind="song.key"></span>]
        </li>
      </ul>
    </form>
  </div>

  <h6 ng-click="songListVM.toggleAddSongList()" class="hand">
    Add New Song List
    <span ng-hide="songListVM.showAddSongList">+</span>
    <span ng-show="songListVM.showAddSongList">-</span>
  </h6>
  <div class="slide"
    ng-class="{'slide-show': songListVM.showAddSongList, 'slide-hide': !songListVM.showAddSongList}"
  >
    <form class="add-new-item">
      <div class="form-row">
        <label for="songTitle">Title</label>
        <input class="longer" id="songTitle" ng-model="songListVM.newSongList.title">
      </div>
      <div class="but-row">
        <a
          ng-click="songListVM.showAddSongList = false"
          class="hand"
        >Cancel</a>
        <button ng-disabled="!songListVM.newSongList.title.length" ng-click="songListVM.addSongList()" class="but-selection">
          Add
        </button>
      </div>
    </form>

  </div>
</div>
