<div class="songlist-editor">
  <h6>Songlists:</h6>
  <ul class="scrollable">
    <li
      ng-click="songListVM.displaySongList(songList)"
      ng-repeat="songList in songListVM.songListsDB | orderBy:'title'"
      ng-bind="songList.title"
    ></li>
  </ul>

  <div class="grid" ng-if="songListVM.editSongListItem">
    <form>
      <div class="form-row">
        <label for="songListTitle">Title</label>
        <input id="songListTitle" ng-model="songListVM.editSongListItem.title">
      </div>

      <label>Songs:</label>
      <ul
        ui-sortable="songListVM.sortableSongs"
        ng-model="songListVM.songsSorted"
      >
        <li
          ng-repeat="id in songListVM.songsSorted"
        >
          <span ng-bind="songListVM.songsDB[id].title"></span>
          <span
            class="note text-tiny"
            ng-bind="songListVM.editSongListItem.notes[id]"
            ng-if="songListVM.editSongListItem.notes[id]"
          ></span>
          <span
            ng-show="songListVM.editSongListItem.notes[id] && songListVM.showNoteIcons"
            ng-click="songListVM.editNote(id)"
            class="icon-edit hand color-royal"
          ></span>
          <span
            ng-show="!songListVM.editSongListItem.notes[id] && songListVM.showNoteIcons"
            ng-click="songListVM.addNote(id)"
            class="hand color-royal"
          >+ note</span>
          <span
            ng-show="songListVM.showDeleteIcons"
            ng-click="songListVM.removeSong(id)"
            class="icon-cancel hand color-warning"
          ></span>
        </li>
      </ul>

      <div
        class="add-note-text"
        ng-show="songListVM.editingNote"
        >
        Edit Note For <span ng-bind="songListVM.songsDB[songListVM.editingNoteId].title"></span><br>
        <input ng-model="songListVM.editSongListItem.notes[songListVM.editingNoteId]"> <button ng-click="songListVM.updateNote()" class="but-tiny">save</button>
      </div>

      <div
        class="add-note-text"
        ng-show="songListVM.addingNote"
        >
        Add Note For <span ng-bind="songListVM.songsDB[songListVM.addingNoteId].title"></span><br>
        <input ng-model="songListVM.newNoteText"> <button ng-click="songListVM.saveNewNote()" class="but-tiny">save</button>
      </div>

      <a ng-click="songListVM.showDeleteIcons = !songListVM.showDeleteIcons" href="#">
        <span ng-show="!songListVM.showDeleteIcons">Show</span><span ng-show="songListVM.showDeleteIcons">Hide</span> Delete Icons
      </a>
      <br>
      <a ng-click="songListVM.showNoteIcons = !songListVM.showNoteIcons" href="#">
        <span ng-show="!songListVM.showNoteIcons">Show</span><span ng-show="songListVM.showNoteIcons">Hide</span> Note Icons
      </a>

      <div class="but-row">
        <button ng-click="songListVM.editSongListItem = undefined" class="but-selection but-small">
          Close
        </button>
      </div>
    </form>

    <form>
      <h6>Add Song to List:</h6>
      <label for="list-name-filter">Filter: </label>
      <input id="list-name-filter" ng-model="songListVM.titleFilter" placeholder="title or singer">
      <ul class="scrollable song-list">
        <li
          ng-click="songListVM.addSelected(song)"
          ng-repeat="song in songListVM.songsArray | orderBy:'title' | filter:songListVM.titleFilter"
          ng-bind="song.title"
        ></li>
      </ul>
    </form>
  </div>


  <h6 ng-click="songListVM.toggleAddSongList()" class="hand">
    Add New Empty Songlist:
    <span ng-hide="songListVM.showAddSongList">+</span>
    <span ng-show="songListVM.showAddSongList">-</span>
  </h6>
  <form class="add-new-item" ng-show="songListVM.showAddSongList">
    <div class="form-row">
      <label for="songTitle">Title</label>
      <input id="songTitle" ng-model="songListVM.newSongList.title">
    </div>
    <div class="but-row">
      <a
        ng-click="songListVM.showAddSongList = false"
        class="hand"
      >Cancel</a>
      <button ng-disabled="!songListVM.newSongList.title.length" ng-click="songListVM.addSongList()" class="but-selection">
        Add
      </button>
    </div>
  </form>
</div>
