<div class="songlist-editor">
  <h6 class="grid">
    <div class="grid-col-single">
      Song Lists
    </div>
    <div class="grid-col-single align-right">
      <a class="but-selection" ng-click="songListVM.toggleAddSongList()">
        Add New Song List
        <span ng-hide="songListVM.showAddSongList">+</span>
        <span ng-show="songListVM.showAddSongList">-</span>
      </a>
    <div>
  </h6>

  <div class="slide"
    ng-class="{'slide-show': songListVM.showAddSongList, 'slide-hide': !songListVM.showAddSongList}"
  >
    <form class="add-new-item">
      <div class="form-row">
        <label for="songTitle">New List Title</label>
        <input class="longer" id="songTitle" ng-model="songListVM.newSongList.title">
      </div>
      <div class="but-row">
        <a
          ng-click="songListVM.showAddSongList = false"
          class="hand"
        >Cancel</a>
        <button ng-disabled="!songListVM.newSongList.title.length" ng-click="songListVM.addSongList()" class="but-selection">
          Add
        </button>
      </div>
    </form>
  </div>

  <form>
    <label for="selected_list">Selected List: </label>
    <select
      id="selected_list"
      ng-options="songlist as songlist.title for songlist in songListVM.songListsDB"
      ng-change="songListVM.displaySongList()"
      ng-model="songListVM.selectedList"
    ></select>
  </form>
  <div ng-if="songListVM.editSongListItem">
    <form>
      <div class="form-row">
        <a
          ng-click="songListVM.deleteList()"
          class="hand float-right color-warning"
          title="Permanently Delete This Songlist"
        >[X]</a>
        <label for="songListTitle">Title</label>
        <input
          class="longer"
          id="songListTitle"
          ng-model="songListVM.editSongListItem.title">
      </div>

      <div class="edit-list-display-cols">
        <span>View: </span>
        <label for="cb_Nate">Nate</label>
        <input id="cb_Nate" type="checkbox" ng-model="songListVM.cols.nate">
        <label for="cb_Mike">Mike</label>
        <input id="cb_Mike" type="checkbox" ng-model="songListVM.cols.mike">
        <label for="cb_Adam">Adam</label>
        <input id="cb_Adam" type="checkbox" ng-model="songListVM.cols.adam">
        <label for="cb_Carl">Carl</label>
        <input id="cb_Carl" type="checkbox" ng-model="songListVM.cols.carl">
        <label for="cb_Mark">Mark</label>
        <input id="cb_Mark" type="checkbox" ng-model="songListVM.cols.mark">
      </div>

      <div class="form-row">
        <span
          class="icon-help text-small"
          title="Color-code songs to help keep instrument changes together. Select a player to see what instrument they play on each song."
        ></span>
        Highlight:
        <select
          ng-options="player as player.label for player in songListVM.highlightOptions"
          ng-model="songListVM.selectedHighlight"
          ng-change="songListVM.setSongColor(songListVM.selectedHighlight.action)"
        ></select>
        <span ng-show="songListVM.colorCategory.length">
          <span
            ng-repeat="(text, color) in songListVM.colorCategoryHash"
            class="legend-box"
            ng-class="color"
            ng-show="songListVM.colorsPresent.indexOf(text) !== -1"
            ng-bind="text"
          ></span>
        </span>
      </div>
      <table class="songlist-songs">
        <thead>
          <tr>
            <th></th>
            <th ng-show="songListVM.cols.nate">Nate</th>
            <th ng-show="songListVM.cols.mike">Mike</th>
            <th ng-show="songListVM.cols.adam">Adam</th>
            <th ng-show="songListVM.cols.carl">Carl</th>
            <th ng-show="songListVM.cols.mark">Mark</th>
            <th class="col-width-small">Key</th>
            <th class="col-width-small"></th>
          </tr>
        </thead>
        <tbody
          ui-sortable="songListVM.sortableSongs"
          ng-model="songListVM.songsSorted"
        >
          <tr
            ng-repeat="id in songListVM.songsSorted"
            ng-class="songListVM.colorCategoryHash[songListVM.songsDB[id][songListVM.colorCategory]]"
          >
            <td>
              <span ng-bind="$index + 1"></span>)
              <span ng-bind="songListVM.songsDB[id].title"></span>
            </td>
            <td ng-show="songListVM.cols.nate" ng-bind="songListVM.songsDB[id].nate"></td>
            <td ng-show="songListVM.cols.mike" ng-bind="songListVM.songsDB[id].mike"></td>
            <td ng-show="songListVM.cols.adam" ng-bind="songListVM.songsDB[id].adam"></td>
            <td ng-show="songListVM.cols.carl" ng-bind="songListVM.songsDB[id].carl"></td>
            <td ng-show="songListVM.cols.mark" ng-bind="songListVM.songsDB[id].mark"></td>
            <td ng-bind="songListVM.songsDB[id].key"></td>
            <td>
              <span
                ng-click="songListVM.removeSong(id)"
                class="icon-cancel hand color-warning"
                title="Remove {{songListVM.songsDB[id].title}}"
              ></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="align-right">
        <a class="but-selection" ng-click="songListVM.openSelectSongs()">
          Add Songs
        </a>
      </div>
      <div class="form-row">
        <button
          class="but-small"
          ng-click="songListVM.getListURL()"
        >Get Share Links</button>
      </div>
      <div class="form-row" ng-if="songListVM.displayURL.length">
        Songlist:<br>
        <a
          ng-href="{{songListVM.displayURL}}"
          ng-bind="songListVM.displayURL"
          target="_blank"
        ></a>
      </div>
      <div class="form-row" ng-if="songListVM.printURL.length">
        Print Setlist:<br>
        <a
          ng-href="{{songListVM.printURL}}"
          ng-bind="songListVM.printURL"
          target="_blank"
        ></a>
      </div>
    </form>
  </div>
  <div ng-include="'templates/select-songs.html'"></div>
</div>
