<div class="song-viewer">
  <header>
    <h2>Mad Bread Songs ({{songViewVM.count}})</h2>
    <label for="name-filter">Filter by: </label>
    <input ng-model="songViewVM.titleFilter" placeholder="title or singer">
    <button class="but-small" ng-click="songViewVM.randomSong()">Random</button>
    <br>
    <span class="text-tiny"> - or - </span>
    <br>
    <label for="player-filter">Player:</label>
    <select
      id="player-filter"
      ng-model="songViewVM.player"
      ng-options="player for player in songViewVM.playerOptions">
    </select>

    <span ng-show="songViewVM.player !== '----------'">
      <label for="instrument-filter">Instrument:</label>
      <select
        id="instrument-filter"
        ng-model="songViewVM.instrument"
        ng-options="instrument for instrument in songViewVM.instrumentOptions">
      </select>
    </span>

    <button class="but-small" ng-click="songViewVM.player = '----------';songViewVM.titleFilter = ''">clear all</button>

    </select>
    </select>
    <div class="display-song">
      <span ng-show="songViewVM.displaySong">
        {{songViewVM.displaySong.title}}<br>
        <span class="hand" ng-click="songViewVM.titleFilter = songViewVM.displaySong.singer">S: {{songViewVM.displaySong.singer}}</span> |
        <span class="hand" ng-click="songViewVM.titleFilter = songViewVM.displaySong.nate">N: {{songViewVM.displaySong.nate}}</span> |
        <span class="hand" ng-click="songViewVM.titleFilter = songViewVM.displaySong.mike">M: {{songViewVM.displaySong.mike}}</span> |
        <span class="hand" ng-click="songViewVM.titleFilter = songViewVM.displaySong.adam">A: {{songViewVM.displaySong.adam}}</span> |
        <span class="hand" ng-click="songViewVM.titleFilter = songViewVM.displaySong.carl">C: {{songViewVM.displaySong.carl}}</span>
      </span>
    </div>
  </header>
  <ul class="scrollable song-list">
    <li
      ng-click="songViewVM.selectSong(song)"
      ng-repeat="song in songViewVM.songsDB | orderBy:'title' | filter:songViewVM.titleFilter"
      ng-bind="song.title"
    ></li>
  </ul>
</div>
