<div ng-show="printVM.viewSongs" ng-click="printVM.viewSongs = false" class="window-shade"></div>
<div ng-show="printVM.viewSongs" class="shade-contents">
  <form class="support-form" ng-submit="printVM.addSong()">
    <span ng-click="printVM.viewSongs = false" class="float-right hand">close</span>
    <h6 ng-bind="printVM.viewListTitle"></h6>
    <div class="form-row">
      <ul>
        <li ng-repeat="song in printVM.sortedViewList">
          <span ng-bind="song"></span>
        </li>
      </ul>
    </div>
  </form>
</div>
