<div class="venue-editor">
  <form>
    <h6>Venues:</h6>
    <ul class="scrollable songlist-list">
      <li
        ng-click="venueVM.displaySongList(songList)"
        ng-repeat="songList in songListVM.songListsDB | orderBy:'title'"
        ng-bind="songList.title"
      ></li>
    </ul>
  </form>
  <div class="grid" ng-if="songListVM.editSongListItem">
    <form>
    </form>

    <form>
    </form>
  </div>


  <h6 ng-click="songListVM.toggleAddSongList()" class="hand">
    Add New Venue:
    <span ng-hide="songListVM.showAddSongList">+</span>
    <span ng-show="songListVM.showAddSongList">-</span>
  </h6>
  <form class="add-new-item" ng-show="songListVM.showAddSongList">
    <div class="form-row">
      <label for="songTitle">Title</label>
      <input id="songTitle" ng-model="songListVM.newSongList.title">
    </div>
    <div class="but-row">
      <a
        ng-click="songListVM.showAddSongList = false"
        class="hand"
      >Cancel</a>
      <button ng-disabled="!songListVM.newSongList.title.length" ng-click="songListVM.addSongList()" class="but-selection">
        Add
      </button>
    </div>
  </form>
</div>
