<div class="print-page">
  <h6>Setlists:</h6>
  <form>
    <ul class="scrollable song-list song-list-short">
      <li
        ng-click="printVM.addSelected(songList)"
        ng-repeat="songList in printVM.songListsArray | orderBy:'title'"
        ng-bind="songList.title"
        ng-hide="songList.selected"
      ></li>
    </ul>
  </form>
  <h6>Selected</h6>
  <div class="grid">
    <form>
      <ul
        ui-sortable="printVM.sortableSetlists"
        ng-model="printVM.selectedLists"
        class="print-songlists songlist-songs"
      >
        <li ng-repeat="id in printVM.selectedLists">
          <span>Set</span>
          <span ng-bind="$index + 1"></span>)
          <b ng-bind="printVM.songListsObject[id].title"></b>
          <span
            ng-click="printVM.removeList(id)"
            class="icon-cancel hand color-warning text-tiny"
            title="Remove {{printVM.songListsObject[id].title}}"
          ></span>
          <span
            ng-click="printVM.showSongs(printVM.songListsObject[id])"
            class="icon-search hand color-warning text-tiny"
            title="view songs"
          ></span>
        </li>
      </ul>
    </form>
    <form>
      <h6>Print Options</h6>

    </form>
  </div>
  <div ng-include="'templates/view-songlist.html'"></div>
</div>
