$list-height-normal: 300px;
$list-height-phone: 150px;


nav {
  margin-bottom: $base-unit;
}

// Wrapper
// ======================
.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
}

.footer {
  padding: $base-unit $base-unit-half;
}

// ================================================================
// Grid Columns
// ================================================================
