$list-height-normal: 300px;
$list-height-phone: 150px;


// Wrapper
// ======================
.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
}

// ================================================================
// Grid Columns
// ================================================================
// ***** The ul here sets all height *****
.grid > form > ul {
  height:$list-height-normal;

  @include breakpoint(phone) {
    height:$list-height-phone;
  }
}

// Full-screen 2-col layout
.grid > form {
  width: 49.9%;
}


.grid {
  @include breakpoint(phone) {
    width: 100%;
    display: block !important;
  }
}

.grid > form {
  @include breakpoint(phone) {
    width: 100%;
    display: block;
  }
}
